<%- include ../layouts/cabecera.ejs %>

<h1>Datos del Cliente</h1>
<br>
<form method="post" action="/clientes">
    <div class="form-group mb-2">
        <label for="">Rut</label>
        <input type="text" name="rut" class="form-control" required>
    </div>

    <div class="form-group mb-2">
        <label for="">Nombre</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>

    <div class="form-group mb-2">
        <label for="">Apellido Paterno</label>
        <input type="text" name="paterno" class="form-control" required >
    </div>

    <div class="form-group mb-2">
        <label for="">Apellido Materno</label>
        <input type="text" name="materno" class="form-control" required>
    </div>

    <div class="form-group mb-2">
        <label for="">Direccion de Entrega</label>
        <input type="text" name="direccion" class="form-control">
    </div>

    <div class="form-group mb-2">
        <label for="">Correo</label>
        <input type="email" name="correo" class="form-control" required>
    </div>

    <div class="form-group mb-2">
        <label for="">Telefono</label>
        <input type="text" name="telefono" class="form-control">
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>

<%- include ../layouts/pie.ejs %>